@import "reset";
@import "variables";
@import "mixins";
@import "components/allComponents.scss";
@import "extend";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(src/scss/font/stylesheet.css);

body {
  font-family: 'Inter', sans-serif;
  background-color: #F5F3EA;
}

.container {
  width: auto;
  background: #f5f3ea;
  //////////////////////////////HEADER
  .header__logo {
    padding: 70px 40px;
    width: auto;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
  span{
    color: #000;
text-align: center;
font-family: Gilroy;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: normal;
  }
  }
  .header__studio-name{
    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.7px;
  }
  .header__studio-studio{
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.7px;
    text-transform: uppercase;
  }
  .header__studio-logo{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    span:not(:nth-last-child(2)){
        margin-right: 5px;
    }
    div{
        height: 38px;
        align-items: start;
    }
  }
  .header__profile-name{
    color: #252525;
    font-family: Gilroy;
    font-size: 120px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
  }
  .header__profile-job{
    color: #252525;
text-align: center;
font-family: Gilroy-SemiBold;
font-size: 120px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
  }
  .header__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
  }
  .header__hero-image {
    height: auto;
    width: 100%;
  }
  .header__arrow-downside {
    display: flex;
    justify-content: center;
  }
  .header__profile-hero-about {
    width: auto;
  }
  .header__profile-text {
    padding-left: 70px;
    margin-right: 70px;
    color: #252525;
    font-family: Gilroy;
    font-size: 62px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    .header__profile-text-boled {
      color: #252525;
      font-family: Gilroy;
      font-size: 62px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }
  .header__hero-description {
    padding: 70px 0px;
    width: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #252525;
    .header__profile-about {
      background: #252525;
      padding-right: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      .header__profile-about-nested-ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .header__profile-about-text {
        color: #fff;
        text-align: right;
        font-family: Gilroy-Medium;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
      }
      .header__profile-about-ul{
        padding-left: 100px;
            li{
                padding: 15px 0px 0px 15px;
            }
      }
    }
  }
  .header__logos-after {
    display: flex;
    padding: 70px 70px;
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li{
      margin-top:20px;
    }
    li:not(:first-child){
      margin-left: 20px;
    }
    border-bottom: 1px solid #252525;
  }
  .header__logo-after-border{
    padding: 15px 45px;
    border-radius: 50px;
background: #FFF;
  }
  ///////////////////////////////SELECTED WORK
  .selected-work__container {
    .selected-work__button-white {
      border-radius: 50px;
      background: #fff;
      padding: 15px 30px;
      margin-right: 30px;
      color: #252525;
font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .selected-work__title {
      padding-top:70px;
      border-top: 1px solid black;
      color: #252525;
      text-align: center;
      font-family: Gilroy;
      font-size: 212px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 8.48px;
      text-transform: uppercase;
    }
    .selected-work__block-row {
      display: flex;
      gap: 20px;
      justify-content: center;
      width: 100%;
      .selected-work__block-image {
        height: 567px;
        width: 100%;
      }
      .selected-work__title-block {
        color: #000;
font-family: Gilroy-Bold;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 44px; /* 110% */
text-transform: uppercase;
      }
      .selected-work__buttons {
        display: flex;
        margin-top: 30px;
      }
      .selected-work__button-black {
        padding: 10px 30px;
        border-radius: 50px;
        background: #252525;
        display: flex;
        align-items: center;
        .selected-work__button-name {
          color: #fff;
          padding-right: 10px;
          font-family: Gilroy-Medium;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;
        }
      }
      .selected-work__block-description {
        justify-content: left;
        width: 100%;
      }
      .selected-work__block {
        display: flex;
        max-width: 567px;
        width: auto;
        margin: 35px 20px;
        width: 30%;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        align-self: stretch;
      }
      .selected-work__black-button-position{
        display: flex;
        width: 100%;
        justify-content: end;
      }
    }
    .selected-work__all-work-button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #252525;
font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 50px;
    }
    .selected-work__after-padding {
      padding-bottom: 100px;
      width: 100%;
      border-bottom: 1px solid #252525;
    }
  }
  ///////////////////////////////////////////////////OUR TEAM
  .our-team__title{
    padding-top: 50px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
font-family: Gilroy;
font-size: 200px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 8.48px;
text-transform: uppercase;
padding-top: 50px;
margin-bottom: 50px;
  }
  .our-team__team-member-name{
    color: #333;
font-family: Gilroy;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
  }
  .our-team__team-member-job{
    color: #333;
font-family: Gilroy-Medium;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .our-team__team-member-social{
    display: flex;
    justify-content: end;
  }
  .our-team__container{
    padding-bottom: 50px;
    .our-team__block-row{
        display: flex;
        justify-content: center;
        width: 100%;
        .our-team__block{
            max-width: 415px;
            max-height: 633px;
            width: 100%;
            .our-team__team-member-photo{
                width: 100%;
                height: 507px;
                filter: grayscale(100%);
            }
        }
        .our-team__block:not(:last-child){
            margin-right: 40px;
        }
        li:not(:last-child){
            margin-right: 10px;
        }
        .our-team__join-the-team{
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            p{
                color: #333;
font-family: Gilroy-Regular;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
            }
            .our-team__tagline{
                color: #333;
font-family: Gilroy-Bold;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
            }
            .our-team__button{
                display: flex;
                align-items: center;
                border-radius: 50px;
                background: #252525;
                padding: 10px 30px;
                color: #FFF;
                font-family: Gilroy-Medium;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
            }
        }
    }
}
}
////////////////////////////////////////////////////////////////////////////////////////// "1student"
.wrapper_container {
  display: flex;
  height: 70px;
  padding: 15px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #FFF;
}

.main-container {
  display: flex;
}

.text-block__what_i-do {
  display: flex;
}

.image-main__container {
  flex: 1;
  display: block;
  background-image: url("../img/What/what-i-do-bgd.jpg");
  background-size: cover;
}

.wrapper-text__block {
  flex: 1;
  margin-top: 70px;
  padding-left: 110px;

  .slogan-text__block-what_i-do {
    display: flex;
    width: auto;
    align-items: flex-start;
    color: #252525;
    font-family: 'Gilroy', sans-serif;
    font-size: 130px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }

  .digital-design-text {
    color: #000;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    padding-top: 40px;
  }

  .digital-design-subtext {
    color: #000;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
  }

  .digital-design-description {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .border-bottom-line {
    width: 90%;
    height: 1px;
    background: #252525;
  }
}

.slogan_my__clients {
  text-align: center;
  color: #252525;
  font-family: 'Gilroy', sans-serif;
  font-size: 212px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
}

.my-clients__block {
  max-width: 100%;
  border-top: 1px solid #252525;
  margin-bottom: 50px;
  .content-my__clients {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    gap: 0px;
  }

  .item-card {
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .wrapper-item__card {
      padding: 30px;
      box-sizing: border-box;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-bottom: 2px solid black;
    }

    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      border-right: 2px solid black;
    }

    .images-baner__clients {
      display: flex;
      justify-content: start;
      width: 30%;
    }

    .text-after__logo {
      color: #333;
      font-family: 'Gilroy', sans-serif;
      font-size: 40px;
      font-weight: 800;
      line-height: 44px;
      text-align: left;
      padding-top: 30px;
    }

    .text-after__logo_next {
      padding-top: 30px;
      text-align: left;
      color: #000;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      align-self: stretch;
    }

    .images-item__my-clients {
      display: flex;
      justify-content: start;
      padding-top: 40px;
    }

    .person-name__my-clients {
      display: flex;
      flex-direction: column;
      color: #000;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      gap: 10px;
    }

    .job-title__my-clients {
      color: #000;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      padding-left: 20px;
    }
  }
}

.container-block__contact {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  height: auto;
  border-top: 1px solid #252525;

  .text-block__slogan {
    padding-top: 70px;
    align-self: stretch;
  }

  .slogan-contacts {
    padding-left: 30px;
    align-self: stretch;
    color: #333;
    font-family: 'Gilroy', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }

  .text-block__contact {
    padding-top: 70px;
    width: 80%;
    padding-right: 10px;
    padding-left: 10%;
    align-self: stretch;
  }

  .text-after_slogan__contacts {
    color: #252525;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .text-after_slogan-contacts__next {
    margin-top: 30px;
    height: auto;
    color: #252525;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .button-container {
    

    .button-block_contact {
      position: relative;
      margin-top: 30px;
      padding: 10px 30px;
      width: 195px;
      height: auto;
      border-radius: 50px;
      background: #252525;
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      font-family: 'Gilroy-Medium', sans-serif;
      text-transform: capitalize;
    }
    
    .button-block_contact::after {
      content: url('../img/Contacts/Group%201.svg');
      position: absolute;
      top: 55%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
}

.footer_container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-top: 1px solid #252525;
}

.footer-block__text {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  padding: 26px;
}

.text__footer {
  color: #333;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_footer__next {
  color: #333;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-media-icons {
  margin-right: 70px;
  padding: 26px;
}

.social-media-icons__img {
  padding-left: 10px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 769px) and (max-width: 1200px) { ////////////////////////////////////////////////////////////////////////////////TABLE
  .container{
    .header__profile-text{
      p,span{
        font-size: 52px !important;
      }
    }
    .header__hero-description{
      flex-direction: column !important;
      border-bottom: 0px !important;
      padding-bottom: 0px !important;
    }
    .header__logos-after{
      padding-top: 0px !important;
    }
    .header__profile-about{
      justify-content: flex-end !important;
    }
    .header__logo {
      padding: 50px 30px;
      width: auto;
    span{
  font-size: 20px;
    }
    }
    .header__studio-name{
      font-size: 30px;
    }
    .header__studio-studio{
      font-size: 30px;
    }
    .header__studio-logo{
      div{
          height: 38px;
      }
    }
    .header__profile-name{
      text-align: center;
      font-size: 80px;
    }
    .header__profile-job{
  font-size: 80px;
    }
    .header__profile {
      margin: 25px;
    }
    .header__hero-image {
      height: auto;
      width: 100%;
    }
    .header__arrow-downside {
      display: flex;
      justify-content: center;
    }
    .header__profile-hero-about {
      width: auto;
    }
    .header__profile-text {
      padding-bottom: 30px;
    }
    .header__logos-after {
      ul {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    ///////////////////////////////SELECTED WORK
    .selected-work__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .selected-work__works{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
      .selected-work__title {
        font-size: 120px;
      }
      .selected-work__block-row {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        .selected-work__block-image {
          height: 921px;
          width: auto;
        }
        .selected-work__block {
          width: 90%;
          max-width: 90%;
        }
      }
      .selected-work__block-row:first-child{
        flex-direction: column-reverse;
      } 
    }
    ///////////////////////////////////////////////////OUR TEAM
    .our-team__title{
        text-align: center;
  font-size: 160px;
    }
    .our-team__container{
      .our-team__block-row{
          flex-direction: row;
          flex-wrap: wrap;
          .our-team__block{
            margin-right: 0px !important;
            padding-top: 20px;
          }
          .our-team__block:nth-child(odd){
            margin-right: 40px !important;
          }
          .our-team__join-the-team{
            width: 90%;
            margin-top: 60px;
          }
      }
  }
  }
  .wrapper-text__block{
    padding-left: 20px;
  }
  .main-container{
    display: flex;
    flex-direction: column;
  }
  .image-main__container{
    flex: none;
    height: 1280px;
  }
  .slogan-text__block-what_i-do{
    justify-content: center;
  }
  .digital-design-text{
    font-size: 35px;
  }
  .digital-design-subtext{
    font-size: 35px;
  }
  .digital-design-description{
    font-size: 15px;
  }
  .my-clients__block{
    .content-my__clients {
      display: flex;
      flex-direction: column;
    }
    .slogan_my__clients{
      padding-top: 20px;
      font-size: 120px;
    }
    .item-card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px 0px;
      margin: 0px 30px;
      
    }
    .item-card:not(:last-child){
      border-right: 0px;
      border-bottom: 2px solid black;
    }
    .item-card:last-child{
      border-bottom: 0px;
    }
    
  }
  .container-block__contact{
    flex-direction: column;
    .text-block__contact{
      width: 100%;
      padding: 0px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .slogan-contacts{
      font-size: 140px;
    }
    .text-block__slogan{
      display: flex;
      justify-content: center;
      padding-left: 0px;
    }
    .text-after_slogan__contacts{
      text-align: center;
    }
    .text-after_slogan-contacts__next{
      text-align: center;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 320px) and (max-width: 768px) {//////////////////////////////////////////////////////////////////////////////MOBILE
   .container{
    //////////////////////////////HEADER
    .header__profile-text{
      p,span{
        font-size: 30px !important;
      }
    }
    .header__profile-name{
      text-align: center;
      font-size: 40px;
    }
    .header__profile-about{
      margin-top: 30px;
      justify-content: flex-end !important;
    }
    .header__profile-job{
  font-size: 40px;
    }
    .header__profile-text {
      .header__profile-text-boled {
        font-size: 30px;
      }
    }
    .header__hero-description {
      width: auto;
      display: flex;
      flex-direction: column;
      padding-top: 70px;
      padding-bottom: 0px !important;
      border-bottom: 0px !important;
      p{
        text-align: center;
font-size: 30px;
      }
    
  }
  .header__logos-after {
    padding-top: 0px !important;
    ul {
      justify-content: center;
     }
    border-bottom: 1px solid #252525;
  }
    ///////////////////////////////SELECTED WORK
    .selected-work__container {
        .selected-work__works{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
      .selected-work__title {
        font-size: 80px;
      }
      .selected-work__block-row {
        flex-direction: column !important;
        flex-wrap: wrap;
        justify-content: center !important;
        align-content: center;
        .selected-work__block {
          width: 90%;
          flex-wrap: wrap;
          align-content: center;
          img{
            width: 100%;
          }
        }
      }
      .selected-work__block-row:first-child {
        flex-direction: column-reverse !important;
      }
    }
    ///////////////////////////////////////////////////OUR TEAM
    /// 
    .our-team__block-row{
      flex-direction: column !important;
      .our-team__block{
        margin-bottom: 40px;
        flex-wrap: wrap;
        align-content: center;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        max-width: 100% !important;
        margin-right: 0px !important;
        p{
          text-align: center !important;
        }
        img{
          width: 90% !important;
          height: auto;
        }
      }
    }
    .our-team__title{
  font-size: 60px !important;
  text-align: center;
    }
    .our-team__tagline{
      font-size: 40px !important;
    }
    .our-team__team-member-social{
      margin-top: 5px;
      justify-content: center !important;
    }
    .our-team__join-the-team{
      flex-direction: row !important;
      flex-wrap: wrap;
      p{
        width: 100% !important;
        text-align: center !important;
      }
      p:first-child{
        margin-bottom: 20px;
      }
    }
    .our-team__button{
      width: 90%;
      display: flex;
      justify-content: center !important;
      span{
        padding-right: 10px;
      }
    }
  
}
.wrapper-text__block{
  padding-left: 20px;
}
.main-container{
  display: flex;
  flex-direction: column;
  .slogan-text__block-what_i-do{
    justify-content: center;
    font-size: 80px;
  }
  .digital-design-text{
    font-size: 35px;
  }
  .digital-design-subtext{
    font-size: 35px;
  }
  .digital-design-description{
    font-size: 15px;
  }
}
.image-main__container{
  flex: none;
  height: 880px;
}
.my-clients__block{
  .content-my__clients {
    display: flex;
    flex-direction: column;
  }
  .slogan_my__clients{
    padding-top: 20px;
    font-size: 80px;
  }
  .item-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0px;
  margin: 0px 30px;
  
}
.item-card:not(:last-child){
  border-right: 0px;
  border-bottom: 2px solid black;
}
.item-card:last-child{
  border-bottom: 0px;
}
}
.container-block__contact{
  flex-direction: column;
  .text-block__contact{
    width: 100%;
    padding: 0px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slogan-contacts{
    font-size: 100px;
  }
  .text-block__slogan{
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  .text-after_slogan__contacts{
    text-align: center;
  }
  .text-after_slogan-contacts__next{
    text-align: center;
  }
  .button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    .button-block_contact{
      width: 90%;
    }
    .button-block_contact::after{
      right: auto;
      padding-left: 10px;
    }
  }

}
.footer_container{
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
}
.footer-block__text{
display: block;
margin-left: 0px;
padding: 0px;
padding-top: 20px;
}
.social-media-icons{
margin-right: 0px;
padding: 0px;
padding-bottom: 20px;
}
}